table {
	width: 70%;
}
body {
	background-color: black;
}
h1, h2, h3 {
	font-family: Times New Roman;
	text-align: center;
	color: white;
}
p {
	font-family: Trebuchet MS;
	color: white;
	font-size: 18px;
}
a {
	color: white;
	font-size: 18px;
}
a#tu{
	font-size: 25px;
}
ul, li {
		display: inline-block;
		font-size: 22px;
}
nav {
	border: 3px solid white;
	text-align: center;
	word-spacing: 300px;
	font-size: 22px;
	padding: 5px;
}
div#tabela {
	margin-left: auto;
	margin-right: auto;
}
div#nazwa {
	text-align: center;
}
img#kot {
	margin-left: 4%;
	margin-right: 5%;
	padding: 3px;
}
img#korabl {
	margin-left: 5%;
	padding: 3px;
}
img#irisy {
	margin-top: 2%;
	margin-left: 4%;
	margin-right: 5%;
	padding: 3px;
}
img#Wojna1 {
	margin-left: 5%;
	padding: 3px;
}
img#pejzarz3 {
	margin-top: 2%;
	margin-left: 4%;
	margin-right: 5%;
	padding: 3px;
}
img#pejzarz4 {
	margin-left: 5%;
	padding: 3px;
}
img#pejzarz6 {
	margin-top: 2%;
	margin-left: 4%;
	margin-right: 5%;
	padding: 3px;
}
img#pokemon1 {
	margin-left: 5%;
	padding: 3px;
}
img#Magicanime1 {
	margin-top: 2%;
	margin-left: 4%;
	margin-right: 5%;
	padding: 3px;
}
img#Angelidemon1 {
	margin-left: 5%;
	padding: 3px;
}
img#dragon01 {
	margin-top: 2%;
	margin-left: 4%;
	margin-right: 5%;
	padding: 3px;
}
img#die {
	margin-left: 5%;
	padding: 3px;
}
img#lifecity {
	margin-top: 2%;
	margin-left: 4%;
	margin-right: 4%;
	padding: 3px;
}
div#img {
	border-top: 3px solid white;
	border-bottom: 3px solid white;
}
div#konstr {
	text-align: left;
	margin: 2%;
	padding: 5px;
}
div#poczstr {
	text-align: right;
	margin: 2%;
	padding: 5px;
}
div#jestem {
	position: absolute;
	left: 50.8%;
	top: 12.5%;
}
footer {
	text-align: center;
	background-color: gray;
}
a:link {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: none;
	color: white;
	font-size: 20px;
}
a:active {
	text-decoration: none;
	color: gray;
	font-size: 22px;
}